:root
{
    --background-color: #FCFAF2;
    --primary-color: #894209;
    --accent-color: #6F6C51;
    --text-color: #FCFAF2;
}
*
{
    box-sizing: border-box;
}
body
{
    background-color: var(--background-color);
}
.container
{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin: 30px auto;
}
.title
{
    color: var(--primary-color);
    text-align: center;
}
.title img
{
    width: 250px;
    margin-bottom: 5px;
    cursor: pointer;
}
h1
{
    font-size: 32pt;
}
.italianno-regular
{
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
}
.winky-sans
{
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#content
{
    display: contents;
    width: 100%;
}
a
{
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--primary-color);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: rgb(0, 0, 0) 4px 4px 0px 0px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button
{
    width: 450px;
}
.button a
{
    font-size: 14pt;
    height: 45px;
    margin-bottom: 20px;
    display: flex;
}
.list
{
    text-align: center;
}
.list-item-image img
{
    border-radius: 50%;
    height: 150px;
    object-fit: cover;
}
.list-item-button
{
    width: 120px;
}
.list-item-buttons a
{
    font-size: 14pt;
    height: 45px;
    width: 120px;
    margin-bottom: 20px;
    display: inline-flex;
    margin: 1rem;
}
hr
{
    margin: 1.5rem;
    width: 100%;
    color: var(--accent-color);
}
.footer
{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 5px;
    z-index: -400;
    width: 100%;
}
.footer img
{
    width: 35px;
    opacity: 0.3;
}
@media (min-width: 1200px)
{
    .container
    {
        max-width: 1320px;
    }
}
@media (max-width: 1200px)
{
    .container
    {
        max-width: 1140px;
    }
}
@media (max-width: 992px)
{
    .container
    {
        max-width: 960px;
    }
}
@media (max-width: 768px)
{
    .container
    {
        max-width: 720px;
    }
}
@media (max-width: 576px)
{
    .title img
    {
        width: 200px;
    }
    .container
    {
        max-width: 540px;
    }
    .button
    {
        width: 100%;
    }
}